# Python
__pycache__/
*.py[cod]
.env
.venv/

# Archivos multimedia grandes
*.mp4
*.mov
*.avi
*.mkv
*.wav
*.flac
*.webm

# VS Code
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de compilación web (si usas herramientas como Webpack o Hugo)
dist/
build/
