# Python
__pycache__/
*.py[cod]
.env
.venv/git rm --cached -r __pycache__/


# Archivos multimedia grandes
*.mp4
*.mov
*.avi
*.mkv
*.wav
*.flac
*.webm

# VS Code
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de compilación web (si usas herramientas como Webpack o Hugo)
dist/
build/

# .mp4s 

static/videos/*.MP4
